This notebook will serve as the master notebook which the TAs can run from start to finish

In [1]:
import pandas as pd


%load_ext autoreload
%autoreload 2

In [3]:
# Define the path to the data
data_path = './data/essay_df.pkl'
df = pd.read_pickle(data_path)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12976 entries, 0 to 12975
Data columns (total 29 columns):
essay_id          12976 non-null int64
essay_set         12976 non-null int64
essay             12976 non-null object
rater1_domain1    12976 non-null int64
rater2_domain1    12976 non-null int64
rater3_domain1    128 non-null float64
domain1_score     12976 non-null int64
rater1_domain2    1800 non-null float64
rater2_domain2    1800 non-null float64
domain2_score     1800 non-null float64
rater1_trait1     2292 non-null float64
rater1_trait2     2292 non-null float64
rater1_trait3     2292 non-null float64
rater1_trait4     2292 non-null float64
rater1_trait5     723 non-null float64
rater1_trait6     723 non-null float64
rater2_trait1     2292 non-null float64
rater2_trait2     2292 non-null float64
rater2_trait3     2292 non-null float64
rater2_trait4     2292 non-null float64
rater2_trait5     723 non-null float64
rater2_trait6     723 non-null float64
rater3_trait1     128 non-null float64
rater3_trait2     128 non-null float64
rater3_trait3     128 non-null float64
rater3_trait4     128 non-null float64
rater3_trait5     128 non-null float64
rater3_trait6     128 non-null float64
essays_embed      12976 non-null object
dtypes: float64(22), int64(5), object(2)
memory usage: 2.9+ MB

In [12]:
df['essays_embed'][1].shape

(100, 452)

In [14]:
print(type(df['essays_embed']))

<class 'pandas.core.series.Series'>

In [16]:
df.describe()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>essay_id</th>
      <th>essay_set</th>
      <th>rater1_domain1</th>
      <th>rater2_domain1</th>
      <th>rater3_domain1</th>
      <th>domain1_score</th>
      <th>rater1_domain2</th>
      <th>rater2_domain2</th>
      <th>domain2_score</th>
      <th>rater1_trait1</th>
      <th>...</th>
      <th>rater2_trait3</th>
      <th>rater2_trait4</th>
      <th>rater2_trait5</th>
      <th>rater2_trait6</th>
      <th>rater3_trait1</th>
      <th>rater3_trait2</th>
      <th>rater3_trait3</th>
      <th>rater3_trait4</th>
      <th>rater3_trait5</th>
      <th>rater3_trait6</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>count</th>
      <td>12976.000000</td>
      <td>12976.000000</td>
      <td>12976.000000</td>
      <td>12976.000000</td>
      <td>128.000000</td>
      <td>12976.000000</td>
      <td>1800.000000</td>
      <td>1800.000000</td>
      <td>1800.000000</td>
      <td>2292.000000</td>
      <td>...</td>
      <td>2292.000000</td>
      <td>2292.000000</td>
      <td>723.000000</td>
      <td>723.000000</td>
      <td>128.000000</td>
      <td>128.000000</td>
      <td>128.000000</td>
      <td>128.000000</td>
      <td>128.000000</td>
      <td>128.000000</td>
    </tr>
    <tr>
      <th>mean</th>
      <td>10295.395808</td>
      <td>4.179485</td>
      <td>4.127158</td>
      <td>4.137408</td>
      <td>37.828125</td>
      <td>6.800247</td>
      <td>3.333889</td>
      <td>3.330556</td>
      <td>3.333889</td>
      <td>2.444154</td>
      <td>...</td>
      <td>2.635689</td>
      <td>2.710297</td>
      <td>3.777317</td>
      <td>3.589212</td>
      <td>3.945312</td>
      <td>3.890625</td>
      <td>4.078125</td>
      <td>3.992188</td>
      <td>3.843750</td>
      <td>3.617188</td>
    </tr>
    <tr>
      <th>std</th>
      <td>6309.074105</td>
      <td>2.136913</td>
      <td>4.212544</td>
      <td>4.264330</td>
      <td>5.240829</td>
      <td>8.970705</td>
      <td>0.729103</td>
      <td>0.726807</td>
      <td>0.729103</td>
      <td>1.211730</td>
      <td>...</td>
      <td>1.142566</td>
      <td>1.045795</td>
      <td>0.689401</td>
      <td>0.693256</td>
      <td>0.643668</td>
      <td>0.630390</td>
      <td>0.622535</td>
      <td>0.509687</td>
      <td>0.538845</td>
      <td>0.603417</td>
    </tr>
    <tr>
      <th>min</th>
      <td>1.000000</td>
      <td>1.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>20.000000</td>
      <td>0.000000</td>
      <td>1.000000</td>
      <td>1.000000</td>
      <td>1.000000</td>
      <td>0.000000</td>
      <td>...</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>1.000000</td>
      <td>1.000000</td>
      <td>2.000000</td>
      <td>2.000000</td>
      <td>2.000000</td>
      <td>3.000000</td>
      <td>2.000000</td>
      <td>2.000000</td>
    </tr>
    <tr>
      <th>25%</th>
      <td>4438.750000</td>
      <td>2.000000</td>
      <td>2.000000</td>
      <td>2.000000</td>
      <td>36.000000</td>
      <td>2.000000</td>
      <td>3.000000</td>
      <td>3.000000</td>
      <td>3.000000</td>
      <td>2.000000</td>
      <td>...</td>
      <td>2.000000</td>
      <td>2.000000</td>
      <td>3.000000</td>
      <td>3.000000</td>
      <td>4.000000</td>
      <td>4.000000</td>
      <td>4.000000</td>
      <td>4.000000</td>
      <td>4.000000</td>
      <td>3.000000</td>
    </tr>
    <tr>
      <th>50%</th>
      <td>10044.500000</td>
      <td>4.000000</td>
      <td>3.000000</td>
      <td>3.000000</td>
      <td>40.000000</td>
      <td>3.000000</td>
      <td>3.000000</td>
      <td>3.000000</td>
      <td>3.000000</td>
      <td>2.000000</td>
      <td>...</td>
      <td>2.000000</td>
      <td>3.000000</td>
      <td>4.000000</td>
      <td>4.000000</td>
      <td>4.000000</td>
      <td>4.000000</td>
      <td>4.000000</td>
      <td>4.000000</td>
      <td>4.000000</td>
      <td>4.000000</td>
    </tr>
    <tr>
      <th>75%</th>
      <td>15681.250000</td>
      <td>6.000000</td>
      <td>4.000000</td>
      <td>4.000000</td>
      <td>40.000000</td>
      <td>8.000000</td>
      <td>4.000000</td>
      <td>4.000000</td>
      <td>4.000000</td>
      <td>3.000000</td>
      <td>...</td>
      <td>4.000000</td>
      <td>3.000000</td>
      <td>4.000000</td>
      <td>4.000000</td>
      <td>4.000000</td>
      <td>4.000000</td>
      <td>4.000000</td>
      <td>4.000000</td>
      <td>4.000000</td>
      <td>4.000000</td>
    </tr>
    <tr>
      <th>max</th>
      <td>21633.000000</td>
      <td>8.000000</td>
      <td>30.000000</td>
      <td>30.000000</td>
      <td>50.000000</td>
      <td>60.000000</td>
      <td>4.000000</td>
      <td>4.000000</td>
      <td>4.000000</td>
      <td>6.000000</td>
      <td>...</td>
      <td>6.000000</td>
      <td>6.000000</td>
      <td>6.000000</td>
      <td>6.000000</td>
      <td>6.000000</td>
      <td>6.000000</td>
      <td>6.000000</td>
      <td>6.000000</td>
      <td>5.000000</td>
      <td>5.000000</td>
    </tr>
  </tbody>
</table>
<p>8 rows × 27 columns</p>
</div>

In [21]:
df.memory_usage(index=True, deep=True).sum()

20896129

In [ ]:
# Define a batch generator
# Adopted from HW3
def get_batches(essays, scores, n_essays):
    '''
    Partition data array into mini-batches
    param essays: array of essays in word embedding form
    param scores: array of scores of essays
    param n_essays: number of essays in a mini-batch
    output:
    '''
    batch_size = n_seqs * n_steps
    n_batches = int(len(array) / batch_size)
    
    # we only keep the full batches and ignore the rest.

    array = array[:batch_size * n_batches]
    array = array.reshape((n_seqs, -1))

    # Label array is created by rolling the regular array by 1 along
    # the rows.
    label_array = np.roll(array, -1)
    
    # Loop to generate batches for inputs and targets
    while True:
        for i in range(n_batches):
            batch_x = array[:,i*n_steps: (i+1)*n_steps]
            batch_y = label_array[:,i*n_steps : (i+1)*n_steps]

            yield (batch_x, batch_y)