In [13]:
import pandas as pd
from sklearn import metrics
from scipy import stats
import numpy as np
from src.preprocess import confusion_matrix, histogram, quadratic_weighted_kappa, pearson_correlation, Mean_squared_error
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df_Essay=pd.read_pickle('./data/essay_df.pkl')

Results are evaluated upon Pearsonâ€™s correlation, mean absolute error, and quadratic weighted
kappa. We evaluate those metric for each set to estimate if our normalization and training on the whole sets included a bias.

In [3]:
df_Essay['prediction']=df_Essay['rater1_domain1']

In [4]:
df_Essay.head(5)

,essay_id,essay_set,essay,rater1_domain1,rater2_domain1,essays_embed,word_count,max_score,norm_score1,norm_score2,prediction
0,1,1,"Dear local newspaper, I think effects computer...",4,4,"[[-0.45701, 0.23121, 0.87486, -0.7933, -0.1945...",299,12.0,4,4,4
1,2,1,"Dear @CAPS1 @CAPS2, I believe that using compu...",5,4,"[[-0.45701, 0.23121, 0.87486, -0.7933, -0.1945...",349,12.0,5,4,5
2,3,1,"Dear, @CAPS1 @CAPS2 @CAPS3 More and more peopl...",4,3,"[[-0.45701, 0.23121, 0.87486, -0.7933, -0.1945...",236,12.0,4,3,4
3,4,1,"Dear Local Newspaper, @CAPS1 I have found that...",5,5,"[[-0.45701, 0.23121, 0.87486, -0.7933, -0.1945...",449,12.0,5,5,5
4,5,1,"Dear @LOCATION1, I know having computers has a...",4,4,"[[-0.45701, 0.23121, 0.87486, -0.7933, -0.1945...",387,12.0,4,4,4

# With library sklearn

In [5]:
#Pearson's correlation
pearson_corr = []
for i in [1,3,4,5,6]:
    pearson_corr+=[stats.pearsonr(df_Essay[df_Essay['essay_set']==i]['rater1_domain1'], df_Essay[df_Essay['essay_set']==i]['rater2_domain1'])[0]]
pearson_corr

[0.7172861726670788,
 0.7708155194901584,
 0.8509405766098401,
 0.7527010280573945,
 0.7765388466877478]

In [6]:
#mean absolute error
MAE=[]
for i in [1,3,4,5,6]:
    MAE+=[metrics.mean_absolute_error(df_Essay[df_Essay['essay_set']==i]['rater1_domain1'], df_Essay[df_Essay['essay_set']==i]['rater2_domain1'])]
MAE

[0.35895986433013,
 0.2566628041714948,
 0.2288135593220339,
 0.44155124653739614,
 0.3933333333333333]

In [7]:
#quadratic weighted kappa
Kappa=[]
for i in [1,3,4,5,6]:
    Kappa+=[metrics.cohen_kappa_score(df_Essay[df_Essay['essay_set']==i]['rater1_domain1'], df_Essay[df_Essay['essay_set']==i]['rater2_domain1'], weights = 'quadratic')]
Kappa

[0.7169197767600322,
 0.769230064491969,
 0.8509277825717176,
 0.7526961695797694,
 0.7764876632801161]

# If we can't use sklearn

Kappa functions

In [8]:
confusion_matrix(df_Essay[df_Essay['essay_set']==1]['norm_score1'], df_Essay[df_Essay['essay_set']==1]['norm_score2'])

[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 10, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 1, 17, 10, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 7, 110, 77, 2, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 58, 685, 168, 11, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 166, 292, 43, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 9, 61, 42, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]]

In [9]:
for Set in [1,3,4,5,6]:
    print([histogram(df_Essay[df_Essay['essay_set']==Set]['norm_score1']),histogram(df_Essay[df_Essay['essay_set']==Set]['norm_score2'])])

[[0, 10, 28, 196, 922, 501, 112, 0, 0, 0, 0, 0, 0], [0, 11, 24, 178, 937, 523, 96, 0, 0, 0, 0, 0, 0]]
[[41, 0, 0, 0, 680, 0, 0, 0, 690, 0, 0, 0, 315], [44, 0, 0, 0, 695, 0, 0, 0, 724, 0, 0, 0, 263]]
[[313, 0, 0, 756, 0, 0, 522, 0, 0, 179, 0, 0, 0], [319, 0, 0, 742, 0, 0, 539, 0, 0, 170, 0, 0, 0]]
[[51, 0, 0, 377, 0, 0, 695, 0, 0, 486, 0, 0, 196], [47, 0, 0, 402, 0, 0, 649, 0, 0, 518, 0, 0, 189]]
[[55, 0, 0, 213, 0, 0, 462, 0, 0, 807, 0, 0, 263], [56, 0, 0, 215, 0, 0, 466, 0, 0, 809, 0, 0, 254]]

In [10]:
for Set in [1,3,4,5,6]:
    print(quadratic_weighted_kappa(df_Essay[df_Essay['essay_set']==Set]['norm_score1'],df_Essay[df_Essay['essay_set']==Set]['norm_score2']))

0.7169197767600322
0.769230064491969
0.8509277825717176
0.7526961695797694
0.7764876632801161

Pearson correlation

In [11]:
for Set in [1,3,4,5,6]:
    print(pearson_correlation(df_Essay[df_Essay['essay_set']==Set]['norm_score1'],df_Essay[df_Essay['essay_set']==Set]['norm_score2']))

0.7172861726670788
0.7708155194901584
0.8509405766098397
0.7527010280573946
0.7765388466877478

Mean Square error

In [14]:
for Set in [1,3,4,5,6]:
    print(Mean_squared_error(df_Essay[df_Essay['essay_set']==Set]['norm_score1'],df_Essay[df_Essay['essay_set']==Set]['norm_score2']))

0.3838326738270209
4.329084588644264
2.0694915254237287
4.362880886426593
3.85